@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>شاهنامه بخوانیم</title>
    <link href=@Html.Raw("\"./Static/styles/_dist/main.css?v" + DateTime.Now.Ticks.ToString() + "\"") rel="stylesheet">
    <link rel="stylesheet" href="./Static/lib/bootstrap.min.css" />
</head>
<body>
    <div id="app">
        <header>
            <h1>شاهنامه بخوانیم</h1>
            <search v-model="search"></search>
        </header>

        <aside v-if="showCategories">
            <categories v-model="category"></categories>
        </aside>
        
        <main>                   
            <transition name="page">
                <router-view></router-view>
            </transition>
        </main>
    </div>

    <script src="./Static/lib/jquery-3.4.1.slim.min.js"></script>
    <script src="./Static/lib/popper.min.js"></script>
    <script src="./Static/lib/bootstrap.min.js"></script>
	<script src=@Html.Raw("\"./Static/scripts/_dist/main.js?v" + DateTime.Now.Ticks.ToString() + "\"")></script>
    <script>
        setTimeout(() => {
            $('body').css('font-family', 'main');
        });
    </script>
</body>
</html>
